* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    background: url('../img/background_netflix.jpg');
    background-size: cover;
}

.main-content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.main-content header {
    display: flex;
    width: 80%;
    max-width: 100%;
}

header {
    margin-left: 20px;
}

.header img {
    width: 210px;
    height: 118px;
}

main {
    display: flex;
    justify-content: center;
}

main .login-form {
    display: flex;
    justify-content: center;
    width: 430px;
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
    padding: 10px;
}

.login-form .form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top: 60px;
    margin-bottom: 120px;
}

.login-form .form h1 {
    color: #ffffff;
    margin-bottom: 30px;
}

.form input[type="text"],
.form input[type="password"],
.form button {
    height: 50px;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
}

.form input {
    background-color: #404040;
    color: #ffffff;
    margin-bottom: 17px;
    outline: none;
}

#user-validation #p-validation,
#password-validation #p-validation2 {
    color: #ff6600;
    font-size: 15px;
}

#p-validation,
#p-validation2 {
    display: none;
}

.form button {
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
    background-color: #E50914;
    outline: none;
}

.form button:hover {
    cursor: pointer;
}

.login-form .form .help {
    display: flex;
    justify-content: space-between;
    color: #a6a6a6;
}

.login-form .form .help a {
    color: #a6a6a6;
    text-decoration: none;
}

.login-form .form .help a:hover {
    text-decoration: underline;
}

.form .conect-face {
    display: flex;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-top: 25px;
    color: #8c8c8c;
}

.form .conect-face:hover {
    cursor: pointer;
}

.conect-face img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.login-form p {
    margin-bottom: 10px;
    color: #8c8c8c;
    font-size: 20px;
}

.login-form p a {
    text-decoration: none;
    color: #ffffff;
}

.login-form p a:hover {
    text-decoration: underline;
}

.login-form .recaptcha {
    font-size: 15px;
    color: #8c8c8c;
}

.login-form .recaptcha a {
    color: #0055ff;
}

.footer {
    margin-top: 50px;
    text-align: left;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    display: flex;
    max-width: 600px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.footer p {
    margin-bottom: 30px;
}

.footer a{
    text-decoration: none;
    color: #8c8c8c;
}

.footer a:hover {
    text-decoration: underline;
}

.footer a:nth-child(1) {
    font-size: 18px;
}

.doubts select{
    background-color: #000000;
    color: #8c8c8c; 
    padding: 10px;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .main-content {
        background-color: #000000;
    }

    .footer {
        border-top: 1px solid #8c8c8c;
    }
}