* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.header-content {
    display: flex;
    width: 92%;
    align-items: center;
    justify-content: space-between;
}

.header-content img {
    width: 180px;
}

.header-content img:hover {
    cursor: pointer;
}

.header-content a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
}

.header-content a:hover {
    text-decoration: underline;
}

.main-content {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 170px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.form {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.step {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.message {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form input {
    height: 50px;
    padding: 5px;
    font-size: 20px;
    margin-bottom: 15px;
}

.form .forgot-password {
    width: 35%;
    text-decoration: none;
    font-size: 20px;
    color: #0055ff;
}

#passwordObrigatory {
    display: none;
    margin-bottom: 20px;
    color: #f50a16;
}

.form .forgot-password:hover {
    text-decoration: underline;
}

.form button {
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #E50914;
    color: #ffffff;
    border: 1px solid #E50914;
    outline: none;
    padding: 5px;
    margin-top: 20px;
}

.form button:hover {
    cursor: pointer;
    background-color: #f50a16;
}

.footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f2f2f2;
}

.informations {
    display: flex;
    margin-left: 70px;
}

.information-1 {
    display: flex;
    flex-direction: column;
}

.information-2 {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 45px;
}

.information-3 {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 45px;
}

.information-4 {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 45px;
}

.information-1 a,
.information-2 a,
.information-3 a,
.information-4 a {
    margin-bottom: 25px;
    text-decoration: none;
    color: #737373;
    font-size: 18px;
}

.information-1 a:hover,
.information-2 a:hover,
.information-3 a:hover,
.information-4 a:hover {
    text-decoration: underline;
}

.information-1 a:nth-child(2),
.information-1 a:nth-child(3) {
    font-size: 14px;
    margin-bottom: 15px;
}

.information-2 a:nth-child(1),
.information-2 a:nth-child(2) {
    margin-bottom: 15px;
    font-size: 14px;
}

.information-3 a:nth-child(1) {
    font-size: 14px;
}

.information-4 a:nth-child(1) {
    font-size: 14px;
}

.information-1 select {
    width: 150px;
    padding: 5px;
    font-size: 18px;
    color: #737373;
}